<div class="section-container">
  <div class="container">
    <h3 class="content-div">Post</h3>
    <div class="post-title"><%= post.title %><br></div>
    <div class="post-desc"><%= psot.description %>
  </div>
</div>